.myWorks{
   text-align: center;
   position: relative;
   margin: 0 auto;
   animation: move-up 2s ease;
   width: 100%;
   max-width: 1400px;
}

.myWorks__title{
   margin-bottom: 30px;
}

.myWorks__subtitle{
   @include adaptiv-font(20,16);
   margin:0 0 30px 30px;
   font-weight: bold;
   color: #363636;
   text-align: left;
   @media (max-width: 600px) {
      margin:0 0 20px 10px;
   }
}

.myWorks__info{
   text-align: left;
   margin:0 0 25px 30px;
   @include adaptiv-font(16,14);
   & h3{
      font-weight: bold;
      @include adaptiv-font(18,15);
      margin-bottom: 10px;
   }
   & .myWorks__descr, .myWorks__technology{
      margin: 0 0 20px 10px;
      &:last-child{
         margin-bottom: 0;
      }
   }
   @media (max-width: 600px) {
      margin-left: 10px;
   }
}

.myWorks__layouts .myWorks__info{margin-bottom: 80px;}

.myWorks__grid{
   display: grid;
   padding: 25px 0 10px;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 40px;
   @media (max-width: 1250px) {
      display: block;
   }
}

.myWorks__slider{
   width: 80%;
   margin: 0 auto;
   & .slick-track{
      display: flex;
      align-items: center;
   }
   & .slick-slide{
      padding: 20px 0;
      opacity: 0;
      &.slick-active{opacity: 1;}
   }
   & .slick-list{
      overflow: hidden;
   }
   & .slick-arrow.slick-prev{
     background: url(../../image/array-prev.png) 0 0/100% no-repeat;
     left: 15px;
   }
   & .slick-arrow.slick-next{
      background: url(../../image/array-next.png) 0 0/100% no-repeat;
      right: 15px;
    }
   & .slick-arrow::before,::after{
      display: none;
   }
   @media (max-width: 850px) {
      width: 100%;
   }
   &.layouts{
     width: 50%;
     @media (max-width:850px) {
        width:90%;
     }
    }
   .work{
      width: 85%;
   }
}

.work{
   width: 100%;
   height: 100%;
   margin: 0 auto;
   padding: 25px 20px;
   box-shadow: 0 0 20px black;
   border-radius: 25px;
   display: grid;
   grid-template-columns: 57% 43%;
   grid-template-rows: 30px auto;
   grid-template-areas:
   "title title"
   "img description";
   align-items: start;

   & .work__title{
      @include adaptiv-font(20,15);
      grid-area: title;
      font-weight: bold;
      margin-bottom: 20px;
      &::first-letter{text-transform: uppercase;}
      color: #282828;
   }

   & .work__visit{
      grid-area: img;
      display: flex;
      height: 90%;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-self: center;
   } 

   & .work__ref {
      padding: 15px 40px;
      color: white;
      margin: 0 auto;
      text-transform: uppercase;
      background: black;
      border-radius: 10px;
      @include adaptiv-font(14,10);
      @media (max-width:600px) {
         padding: 10px 15px;}
   }

   & .work__img{
      position: relative;
      grid-area: img;
      margin-bottom: 20px;
      &  img{
         width: 90%;
         height: auto;
         margin: 0 auto;
         min-width: 120px;
         border: 2px solid black;
         border-radius: 25px;
         background: black;
         @media (max-width:600px) {
            width:100%;
         }
      }
      &  .work__hover{
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         top: 0;
         width: 90%;
         height: 100%;
         display: flex;  
         justify-content: center;
         align-items: center;
         background: rgba(255,255,255,0.5);
         opacity: 0;
         transition: all 0.7s ease 0s;
         border: 2px solid black;
         border-radius: 25px;
         @media (max-width:600px) {
            width:100%;
         }
      }
      &:hover{
         & .work__hover {opacity: 1;}
      }
   }

   & .work__info{
      grid-area: description;
      padding: 0 20px;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: unset;
      @include adaptiv-font(16,14);
      & div{
         margin-bottom: 20px;
         &:last-child{margin-bottom: 0px}
      }
      & div h3{
         font-weight: bold;
         @include adaptiv-font(16,14);
         margin-bottom: 10px;
      }
   }
   & .work__GHref{
      font-weight: bold;
      line-height: 18px;
      @include adaptiv-font(16,14);
      &::first-letter{text-transform: uppercase;}
      & a{
         font-weight: normal;
         @include adaptiv-font(14,12);
         text-decoration: underline;
         color:rgb(6,69,173);
      }
   }

   &.layout{
      display: flex;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      & .work__visit{ flex: 0 0 60%;}
      & .work__img{margin-bottom: 0;}
      & .work__info{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
      & .work__ref{margin: 30px 0;}
      & .work__GHref {
         margin-bottom: 0;
         & h3{ margin-bottom: 10px;}
         @include adaptiv-font(14,12);
         & .work__ref{  @include adaptiv-font(13,12);}
      }
   }

   @media (max-width: 1250px){
      margin: 0 auto 40px;
      width: 80%;
      .work__visit{ 
         margin-bottom: 20px;
         & .work__img{
            margin-bottom: 10px;
         }
      }
      &.layout{
         flex-direction: column;
         width: 50%;
         margin-bottom: 40px;
         & .work__ref{margin-bottom: 20px;}
      }
   }

   @media (max-width: 850px) {
      width: 100%;
      display: block;
      padding: 10px;
      max-width: 450px;
      .work__visit{ 
         margin-bottom: 20px;
         & .work__img{
            margin-bottom: 10px;
         }
   }
   }
   @media (max-width: 700px) {
      width: 95%;
   }
}

.myWorks__react{
   margin-bottom: 80px;
   @media (max-width: 600px) {
      margin-bottom: 50px;
   }
}

@keyframes move-up {
   0%{
      bottom: -100vh;
   }
   100%{
      bottom: 0;
   }
}